[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mesh-inbox-s3-forwarder = {editable = true, path = "."}

[dev-packages]
werkzeug = "~=3.1.5"
moto = {version = "~=5.1.21", extras = ["server"]}
pytest-cov = "~=7.0.0"
pytest = "~=9.0.2"
pyfakefs = "~=6.1.0"
fake-mesh = "~=0.4.0"
flake8 = "~=7.3.0"
flake8-bugbear="~=25.11.29"
flake8-comprehensions="~=3.17.0"
mccabe="~=0.7.0"
flake8-builtins="~=3.1.0"
flake8-print="~=5.0.0"
bandit = "~=1.9.3"
isort = "~=7.0.0"
black = "==26.1.0"
mypy = "~=1.19.1"
types-requests = "~=2.32.4"
click = "~=8.3.1"

[requires]
python_version = "3.14.3"

[scripts]
test = "python -m pytest --cov=awsmesh --cov-report=term-missing tests/unit tests/e2e"
format-import = "isort src/ tests/ setup.py"
format = "black -t py39 -l100 src/ tests/ setup.py"
check-format = "black --diff --check -t py39 -l100 src/ tests/ setup.py"
typecheck = "mypy --ignore-missing-imports src/ tests/"
lint-flake8 = "flake8 src/ tests/ setup.py"
lint-bandit = "bandit -r src/"
